{
	"extends": "@remotion",
	"env": {
		"node": true
	},
	"rules": {
		"camelcase": "off",
		"capitalized-comments": "off",
		"max-params": "off",
		"no-negated-condition": "off",
		"guard-for-in": "off",
	}
}
